@{
    ViewData["Title"] = "Home Page";
}

@model Category

<div class="text-center">
    <div class="m-5">
        <h1>
            @Model.Name
        </h1>
    </div>
    <div class="container d-flex">
        <div class="col">
            <div>
                <h3>Products:</h3>
            </div>
            <div>
                <ul>
                    @{
                        foreach (Association a in Model.Products)
                        {
                            <li><p>@a.Product.Name</p></li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="col">
            <div>
                <h3>Add Product:</h3>
            </div>
            <div>
                <form asp-action="catprodassociation" method="post">
                    <div class="form-group">
                        <select name="ProductId" class="form-control">
                            
                                @foreach (Product p in ViewBag.AllProducts)
                                        {
                                            <option value="@p.ProductId">@p.Name</option>
                                        }
                            
                        </select>
                    </div>
                    <input type="hidden" name="CategoryId" value="@Model.CategoryId">
                    <div class="form-group">
                        <input type="submit" value="Add" class="btn btn-secondary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
